@use "../config/variables" as v;
@use "../mixin" as m;

/*== 概要 ========================================*/
#overview {
   margin-top: 240px;
   position: relative;

   @media screen and (max-width: 1522px) {
      margin-top: 160px;
   }

   @include m.mq(tab) {
      margin-top: 120px;
   }

   @include m.mq(sp) {
      margin-top: 80px;
   }

   .content-box {
      background-color: v.$black;
      text-align: center;
      border-radius: 100px;
      width: 100%;

      @media screen and (max-width: 832.999px) {
         border-radius: 50px;
      }

      .in-box {
         position: absolute;
         color: v.$white;
         opacity: 0;
         visibility: hidden;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         transition: all 1s;
         transition-delay: 2s;
         width: 100%;

         &.on {
            opacity: 1;
            visibility: visible;
            transition: all .3s;
            transition-delay: .5s;
            width: 100%;
         }

         .title {
            color: v.$white;
            font-size: 72px;

            @media screen and (max-width: 1522px) {
               font-size: 60px;
            }

            @include m.mq(tab) {
               font-size: 40px;
            }

            @include m.mq(sp) {
               font-size: 32px;
            }

            @media screen and (max-width: 580px) {
               font-size: 24px;
            }

            @media screen and (max-width: 332px) {
               font-size: 20px;
            }
         }

         p {
            font-size: 32px;
            margin-top: 40px;

            @media screen and (max-width: 1522px) {
               font-size: 24px;
               margin-top: 20px;
            }

            @include m.mq(pc-s) {
               font-size: 20px;
               margin-top: 20px;
            }

            @include m.mq(tab) {
               font-size: 20px;
               margin-top: 20px;
            }

            @include m.mq(sp) {
               font-size: 18px;
               margin-top: 20px;
            }

            @media screen and (max-width: 580px) {
               font-size: 12px;
               margin-top: 0;
            }
         }
      }
   }

   span {
      display: inline-block;
   }
}