@use "../config/variables" as v;
@use "../mixin" as m;

/*== 活動内容 ========================================*/
#content {

   .content-icon{
      margin-top: 480px;
      @media screen and (max-width: 1522px) {
         margin-top: 320px;
      }
   
      @include m.mq(tab) {
         margin-top: 240px;
      }
   
      @include m.mq(sp) {
         margin-top: 160px;
      }
   }
   .content-title {
      color: v.$red;
   }

   .content-in{
      background-color: v.$whitesub;
      padding-bottom: 32px;
      margin-bottom: 16px;
      &:last-of-type{
         margin-bottom: 0;
      }
   }

   .content-in-title{
      color: v.$blue;
      font-size: 56px;
      font-weight: 700;
      padding-top: 120px;
      @media screen and (max-width: 1522px) {
         font-size: 52px;
      }
   
      @include m.mq(tab) {
         font-size: 48px;
         padding-top: 100px;
      }
   
      @include m.mq(sp) {
         font-size: 40px;
         padding-top: 80px;
      }
   
      @media screen and (max-width: 580px) {
         font-size: 32px;
      }
   
      @media screen and (max-width: 460px) {
         font-size: 24px;
         padding-top: 60px;
      }
   }

   .content-in-p{
      font-size: 20px;
      color: v.$p;
      margin-top: 24px;
      margin-bottom: 60px;
   
      @include m.mq(tab) {
         font-size: 18px;
      }
   
      @include m.mq(sp) {
         font-size: 16px;
         margin-top: 20px;
         margin-bottom: 40px;
      }
   
      @media screen and (max-width: 580px) {
         font-size: 14px;
         margin-top: 16px;
         margin-bottom: 32px;
      }
   
      @media screen and (max-width: 460px) {
         font-size: 14px;
         margin-top: 16px;
         margin-bottom: 32px;
      }
   }

   .popular-movie {
      display: flex;
      width: 80%;
      background-color: v.$white;
      margin: 8px auto 0;

      @include m.mq(sp) {
         flex-direction: column;
         align-items: center;
         margin-top: 4px;
      }

      &:first-of-type {
         margin-top: 0px;
      }

      .iframe {
         width: 50%;
         height: auto;

         @include m.mq(sp) {
            width: 100%;
         }

         .c4-iframe {
            display: inline-block;
            width: 90%;
            margin: 20px auto;

            @include m.mq(sp) {
               width: 80%;
            }
         }
      }

      .letter {
         margin: 0 20px;
         width: 50%;

         @include m.mq(sp) {
            width: 100%;
         }

         @media screen and (max-width: 1522px) {
            margin: 0 16px;
         }

         @media screen and (max-width: 580px) {
            margin: 0 8px;
         }

         @media screen and (max-width: 460px) {}

         h4 {
            color: v.$black;
            font-size: 32px;
            font-weight: 700;
            text-align: left;
            margin-top: 32px;

            @media screen and (max-width: 1522px) {
               font-size: 22px;
               margin-top: 22px;
            }

            @media screen and (max-width: 1023px) {
               font-size: 20px;
               margin-top: 20px;
            }

            @media screen and (max-width: 832.999) {
               font-size: 18px;
            }

            @include m.mq(sp) {
               text-align: center;
               width: 80%;
               margin: 0 auto;
            }

            @media screen and (max-width: 580px) {
               font-size: 16px;
            }

            @media screen and (max-width: 460px) {
               font-size: 14px;
            }
         }

         p {
            color: v.$black;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            margin-top: 32px;
            width: 100%;

            @media screen and (max-width: 1522px) {
               font-size: 16px;
               margin: 16px 0;
            }

            @media screen and (max-width: 1023px) {
               font-size: 14px;
               margin-top: 14px;
            }

            @include m.mq(sp) {
               text-align: center;
               font-size: 16px;
               margin-top: 8px;
               width: 90%;
               margin: 8px auto;
            }

            @media screen and (max-width: 580px) {
               font-size: 14px;
            }

            @media screen and (max-width: 460px) {
               font-size: 12px;
            }

            span{
               display: block;
               color: v.$gray;
               font-size: 18px;

               @media screen and (max-width: 1522px) {
                  font-size: 14px;
               }
   
               @media screen and (max-width: 1023px) {
                  font-size: 12px;
               }
   
               @include m.mq(sp) {
                  text-align: center;
                  font-size: 14px;
                  width: 90%;
               }
   
               @media screen and (max-width: 580px) {
                  font-size: 12px;
               }
   
               @media screen and (max-width: 460px) {
                  font-size: 10px;
               }

               
               &:first-of-type{
                  padding-top: 32px;
                  @media screen and (max-width: 1522px) {
                     padding-top: 16px;
                  }
      
                  @media screen and (max-width: 1023px) {
                     padding-top: 14px;
                  }
      
                  @include m.mq(sp) {
                     padding-top: 8px;
                  }
               }
            }
         }
      }

      .letter-live{
         h4{
            span{
               display: block;
            }
         }
      }
   }
}