@use "config/variables" as v;
@use "mixin" as m;

/*== 共有スタイル ========================================*/
.charm {
   text-align: center;
   padding-bottom: 240px;

   @media screen and (max-width: 1522px) {
      padding-bottom: 160px;
   }

   @include m.mq(tab) {
      padding-bottom: 120px;
   }

   @include m.mq(sp) {
      padding-bottom: 80px;
   }
}

.content-icon {
   width: 190px;
   height: auto;
   margin: 240px auto 0;

   @media screen and (max-width: 1522px) {
      width: 170px;
      height: auto;
      margin-top: 160px;
   }

   @include m.mq(tab) {
      width: 150px;
      height: auto;
      margin: 120px auto 0;
   }

   @include m.mq(sp) {
      width: 130px;
      height: auto;
      margin: 80px auto 0;
   }

   @media screen and (max-width: 580px) {
      width: 110px;
      height: auto;
   }

   @media screen and (max-width: 460px) {
      width: 90px;
      height: auto;
   }
}

.content-title {
   color: v.$black;
   font-size: 80px;
   font-weight: 700;
   margin: 240px auto 0;
   overflow: hidden;
   display: block;
   transition: .7s ease-in-out;
   transform: translate3d(0, 40px, 0) skewY(12deg);
   transform-origin: left;

   &.on {
      transform: translate3d(0, 0, 0) skewY(0);
   }

   @media screen and (max-width: 1522px) {
      font-size: 60px;
      margin: 160px auto 0;
   }

   @include m.mq(tab) {
      font-size: 60px;
      margin: 120px auto 0;
   }

   @include m.mq(sp) {
      font-size: 48px;
      margin: 80px auto 0;
   }

   @media screen and (max-width: 580px) {
      font-size: 40px;
   }

   @media screen and (max-width: 460px) {
      font-size: 28px;
   }
}

.content-p {
   color: v.$black;
   font-size: 32px;
   font-weight: 500;
   margin: 40px auto 80px;

   @media screen and (max-width: 1522px) {
      font-size: 24px;
      margin: 32px auto 64px;
   }

   @include m.mq(tab) {
      font-size: 20px;
      margin: 28px auto 56px;
   }

   @include m.mq(sp) {
      font-size: 20px;
      margin: 20px auto 40px;
   }

   @media screen and (max-width: 580px) {
      font-size: 16px;
      margin: 16px auto 32px;
   }

   @media screen and (max-width: 460px) {
      font-size: 12px;
      margin: 12px auto 24px;
   }
}