@use "config/variables" as v;
@use "mixin" as m;

/*== ヘッダー =========================================*/

// 833～ ----------------------------------------
@media screen and (min-width: 833px) {
   #header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      height: 44px;
   }

   #nav-sp,
   .openbtn,
   #g-nav,
   .circle-bg {
      display: none;
   }

   #nav-pc {
      ul {
         display: flex;
         justify-content: left;
         width: 100%;
         background-color: rgba(255, 255, 255, 0.8);
         border: 1px solid rgba(255, 255, 255, 0.4);
         border-right-color: rgba(255, 255, 255, 0.2);
         border-bottom-color: rgba(0, 0, 0, 0.3);
         -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);

         li {
            font-size: 12px;
            font-weight: 500;
            line-height: 44px;
            color: v.$black;
            margin-left: 40px;
         }

         .category {

            a {
               display: inline-block;
               position: relative;

               &:hover {
                  color: v.$main;
               }

               &::after {
                  content: '';
                  position: absolute;
                  bottom: 10px;
                  left: -5%;
                  width: 110%;
                  height: 1px;
                  background: v.$main;
                  /*アニメーション*/
                  transition: transform .3s;
                  transform: scale(0, 1);
                  transform-origin: left top;
               }

               &:hover::after {
                  transform: scale(1, 1);
               }
            }
         }
      }
   }
}

// ～832 ----------------------------------------
@media screen and (max-width: 832px) {

   #header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      height: 44px;

      #nav-pc {
         display: none;
      }

      #nav-sp {
         display: block;

         ul {
            display: flex;
            justify-content: right;
            align-items: center;
            width: 100%;
            height: 44px;
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-right-color: rgba(255, 255, 255, 0.2);
            border-bottom-color: rgba(0, 0, 0, 0.3);


               .nav-category-s {
                  padding-right: 32px;
                  z-index: 100;

                  li {
                     font-size: 10px;
                     font-weight: 500;
                     color: v.$black;
                     margin: 2px auto;
                  }

                  .nav-category-top,
                  .nav-category-under {
                     padding: 1px 0;
                     display: flex;

                     li {
                        padding-right: 8px;

                        &:last-child {
                           padding-right: 0;
                     }
                  }
               }
            }
         }
      }
   }

   .openbtn {
      position: fixed;
      cursor: pointer;
      top: 0;
      left: 0;
      z-index: 9000;
      width: 44px;
      height: 44px;
      border-radius: 5px;
   }

   /*ボタン内側*/
   .openbtn .openbtn-area {
      transition: all .6s;
      /*アニメーションの設定*/
      width: 44px;
      height: 44px;
   }

   .openbtn span {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 12.32px;
      height: 3px;
      border-radius: 2px;
      background: v.$main;
      width: 45%;
   }

   .openbtn span:nth-of-type(1) {
      top: 13.2px;
   }

   .openbtn span:nth-of-type(2) {
      top: 20.24px;
   }

   .openbtn span:nth-of-type(3) {
      top: 27.28px;
   }

   /*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
   .openbtn.active .openbtn-area {
      transform: rotate(360deg);
   }

   .openbtn.active span {
      background-color: v.$white;
   }

   .openbtn.active span:nth-of-type(1) {
      top: 15px;
      left: 15.84px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
   }

   .openbtn.active span:nth-of-type(2) {
      opacity: 0;
   }

   .openbtn.active span:nth-of-type(3) {
      top: 27px;
      left: 15.84px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
   }

   .circle-bg {
      position: fixed;
      z-index: 8898;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: v.$sub;
      transform: scale(0);
      left: -50px;
      top: -50px;
      transition: all .6s;
   }

   .circle-bg.circleactive {
      transform: scale(50);
   }

   /*ナビゲーション*/
   #g-nav {
      display: none;
      opacity: 0;
   }

   #g-nav.panelactive {
      display: inline-block;
      opacity: 1;
      position: fixed;
      z-index: 8899;
      top: 0;
      width: 100vw;
      height: 100vh;
   }

   #g-nav.panelactive .logo,
   #g-nav.panelactive ul li {
      animation-name: gnaviAnime;
      animation-duration: 1s;
      animation-delay: .2s;
      /*0.2 秒遅らせて出現*/
      animation-fill-mode: forwards;
      opacity: 0;
   }

   #g-nav.panelactive ul {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      width: 100%;
   }

   #g-nav.panelactive .logo img {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      width: 65vw;
      height: auto;
   }

   @keyframes gnaviAnime {
      0% {
         opacity: 0;
      }

      100% {
         opacity: 1;
      }
   }

   #g-nav li {
      text-align: center;
   }

   #g-nav li a {
      color: v.$black;
      padding: 10px;
      display: block;
      letter-spacing: 0.1em;
      font-weight: bold;
   }

}