/*-- 変数($) --*/

$w-100: 100%;
// 色
$white: #fffffe;
$whitesub: #fafafa;
$black: #2b2b2b;
$main: #094067;
$sub: #90b4ce;
$p: #5f6c7b;
$border: rgba(0, 0, 0, 0.3);

$youtube: #ff0000;
$twitter: #4aa0f6;
$twitch: #c34af6;
$url: #3da9fc;
$alert: #0071e3;

$gray: #6e6e73;
$red: #eb3228;
$blue: #65BBE9;
$green: #03a10e;
$pink: #ff2887;
$purple: #6441a4;
